@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('normalize.css');

:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --dark-blue: hsl(235, 16%, 14%);
    --very-dark-blue: hsl(234, 17%, 12%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    color: white;
    min-width: 375px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url('images/pattern-hills.svg'), url('images/bg-stars.svg');
    background-size: 1200px, cover;
    background-position: right -8rem bottom, center;
    background-repeat: no-repeat;
    background-color: var(--dark-blue);
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
    letter-spacing: 0.375em;
}

main {
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    flex: 1;
    padding-top: 140px;
}

.tick {
    font-size: 2rem;
    line-height: 2;
}

.tick > div {
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.tick-group {
    margin: 0;
    padding: 0 8px;
    text-align: center;
}

.tick-group > div {
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0.25rem 1px var(--very-dark-blue);
    position: relative;
}

.tick-group > div::before,
.tick-group > div::after {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    background-color: var(--very-dark-blue);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    transform: translateY(-50%);
}

.tick-group > div::after {
    left: auto;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}

.tick-flip {
    margin: 0;
    border-radius: 0;
    width: 50%;
    letter-spacing: 0;
    text-indent: 0;
}

.tick-flip:first-child {
    text-align: right;
}

.tick-flip:last-child {
    text-align: left;
}

.tick-flip-panel {
    color: var(--soft-red);
    background-color: var(--dark-desaturated-blue);
}

.tick-label {
    font-size: 0.4375rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    color: var(--grayish-blue);
    transform: translateY(-18px);
}

.tick-credits {
    display: none;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-bottom: 0.5rem;
}

.social a {
    display: block;
    padding: 1rem;
    color: var(--grayish-blue);
    transition: color 0.15s ease-in-out;
}

.social a:hover,
.social a:focus {
    color: var(--soft-red);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--grayish-blue);
}

.attribution a {
    color: var(--grayish-blue);
}

.attribution a:hover,
.attribution a:focus {
    color: var(--soft-red);
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
        background-size: contain, cover;
        background-position: right bottom, center;
    }

    h1 {
        margin-bottom: 100px;
    }

    .tick {
        font-size: 3rem;
        line-height: 1.8;
    }

    .tick-group {
        margin: 0;
        padding: 0 12px;
        text-align: center;
        flex-basis: 130px;
        max-width: 130px;
    }

    .tick-group > div {
        border-radius: 0.5rem;
        box-shadow: 0 0.625rem 1px var(--very-dark-blue);
    }

    .tick-group > div::before,
    .tick-group > div::after {
        width: 5px;
        height: 10px;
    }

    .tick-label {
        font-size: 0.75rem;
        transform: translateY(-2em);
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 1.3125rem;
    }

    .tick {
        font-size: 5rem;
        line-height: 1.75;
        margin-bottom: 5rem;
    }

    .tick-group {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-basis: 178px;
        max-width: 178px;
    }

    .tick-label {
        font-size: 0.875rem;
        transform: translateY(-4em);
    }

    .social {
        padding-bottom: 3rem;
    }
}
